extends ../templates/_main.pug
include ../helpers/mixins.pug

block content

  - const tar = [[`Старт`,`10 000`, `start`],[`Взлет`,`20 000`, `takeoff`],[`Премиум`,`30 000`, `premium`]];

  - const arr = [[`Простым языком о Биткойнах и майнинге`, 3], [`Основы блокчейна `, 3], [`Экономика  будущего`, 3], [`Оборудование для майнинга`, 3], [`Альткоины, их разновидности`, 2], [`Правовое регулирование криптовалют в РФ`, 2], [`Различные способы обмана в крипто индустрии и способы их избегать`, 2], [`Способы заработка на криптовалютах`, 1], [`Основы эффективного крипто инвестирвания`, 1], [`Обзор безопасных и надежных бирж`, 1], [`Анализ их возможностей`, 1]];

  -const coins = [[`Bitcoin`, `2000`],[`Cardano`, `1000`],[`Cardano`, `1000`],[`Cardano`, `1000`],[`Cardano`, `1000`]]
  

  section.promo
    .promo__inner.container
      .promo__content
        h1.promo__title.title.size-2 Научим<br> инвестировать<br> в&nbsp;криптовалюты
        p.promo__text.size-1 Узнайте как заработать на самом<br> быстрорастущем рынке 
        a.promo__link.btn(href="#programs") Выбрать программу
      figure.promo__img-wrap
        +img(`girl`, `png`, ``, `promo__img`, `490`)

  section.profit
    .profit__inner.container 
      .profit__top 
        .profit__title-box 
          h2.profit__title.title.size-2 <mark>Почему нужно обучаться</mark> крипто-инвестированию

        .profit__text-box 
          p.profit__text За последний год инвесторы получили от капиталовложений в биткоин невероятные доходы – более 700%. Такую прибыльность до сих пор не показывала ни одна валюта. Крайне высокая волатильность в сочетании с большим потенциалом привлекают не только долгосрочных инвесторов, но и трейдеров, торгующих на краткосрочных таймфреймах. 
      
      .profit__bottom.coin
        .coin__list  
          each val in coins
            li.coin__item
              h3.coin__name= val[0]
              p.coin__percent= `${val[1]}`
                span %
              p.coin__period за последний год
              figure.coin__img-wrap 
                +img((val[0] !== `Bitcoin` ? `btc` : `coin`), `png`, `криптовалюта`, `coin__img`, `300`)






  //- section.promo-main 
  //-   .promo-main__wrapper 
  //-     .promo-main__content 
  //-       figure.promo-main__img-wrap 
  //-         +img(`promo-main-bg`, `jpg`, ``, `promo-main__img`, `1600`)

  //-       .promo-main__inner 
  //-         h2.promo-main__title Пошив штор на заказ
  //-         ul.promo-main__list   
  //-           li.promo-main__item По индивидуальному дизайну
  //-           li.promo-main__item Дизайнерские подушки в подарок

  //-         a.promo-main__link.js_alModal(href data-modal="js_modal-4") Заказать

  //-   nav.promo-main__nav.promo-nav
  //-     ul.promo-nav__list
  //-       li.promo-nav__item
  //-         a.promo-nav__link(href="") Стоимость
  //-       li.promo-nav__item
  //-         a.promo-nav__link(href="") Акции
  //-       li.promo-nav__item
  //-         a.promo-nav__link(href="") Отзывы
  //-       li.promo-nav__item
  //-         a.promo-nav__link(href="") Каталог
  

  //- section.ord 
  //-   .ord__title-wrap
  //-     h2.ord__title Заказать шторы у нас в&nbsp;салоне
  //-     p.ord__text очень просто
    
  //-   .ord__inner 
  //-     ul.ord__list 
  //-       li.ord__item.ord__item--up
  //-         p.ord__item-num 1
  //-         h3.ord__sub-title Бесплатный выезд <br>дизайнера, замер
  //-         p.ord__sub-text более 50 000 тканей и&nbsp;карнизов в наличии
  //-       li.ord__item.ord__item--down
  //-         p.ord__item-num 2
  //-         h3.ord__sub-title Создаем <br>визуализацию проекта
  //-         p.ord__sub-text 26 видов штор в 9 стилях
  //-       li.ord__item.ord__item--up
  //-         p.ord__item-num 3
  //-         h3.ord__sub-title Пошив от 7 дней
  //-         p.ord__sub-text 12 лет опыта, собственное производство
  //-       li.ord__item.ord__item--down
  //-         p.ord__item-num 4
  //-         h3.ord__sub-title Установка, навеска
  //-         p.ord__sub-text профессиональное оборудование
  //-       li.ord__item
  //-         p.ord__item-num 5
  //-         h3.ord__sub-title Гарантия 1 год
  //-         p.ord__sub-text 1748 выполенных проектов
      
  //-     a.ord__link.js_alModal(href data-modal="js_modal-4") Пригласить дизайнера


  //- section.catalog-box 
  //-   .catalog-box__title-wrap
  //-     h2.catalog-box__title Каталог
  //-     p.catalog-box__text мы шьем любые виды штор на заказ от 3 дней

  //-   .catalog-box__inner 
  //-     a.catalog-box__link.catalog-box__link--big(href="") 
  //-       figure.catalog-box__img-wrap.catalog-box__img-wrap--big 
  //-         +img(`sh-1`, `png`, ``, `catalog-box__img catalog-box__img--big`, `466`)
  //-         figcaption.catalog-box__sub-title-wrap.catalog-box__sub-title-wrap--main
  //-           h3.catalog-box__sub-title.catalog-box__sub-title--main Шторы
  //-           ul.catalog-box__list 
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title В гостиную 
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title В зал
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title На кухню
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title В спальню
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title Римские
  //-             li.catalog-box__item 
  //-               h4.catalog-box__sub-title Рулонные


      a.catalog-box__link.catalog-box__link--little(href="") 
        figure.catalog-box__img-wrap.catalog-box__img-wrap--little
          +img(`sh-2`, `png`, ``, `catalog-box__img catalog-box__img--little`, `453`)
          figcaption.catalog-box__sub-title-wrap
            h3.catalog-box__sub-title Жалюзи

      a.catalog-box__link.catalog-box__link--middle(href="") 
        figure.catalog-box__img-wrap.catalog-box__img-wrap--middle
          +img(`sh-3`, `png`, ``, `catalog-box__img catalog-box__img--middle`, `691`)
          figcaption.catalog-box__sub-title-wrap
            h3.catalog-box__sub-title Ткани

      a.catalog-box__link.catalog-box__link--middle(href="") 
        figure.catalog-box__img-wrap.catalog-box__img-wrap--middle
          +img(`sh-4`, `png`, ``, `catalog-box__img catalog-box__img--middle`, `691`)
          figcaption.catalog-box__sub-title-wrap
            h3.catalog-box__sub-title Карнизы






  



  section.programs.tablet-hidden#programs
    .programs__inner.container
      .programs__top 
        .programs__head
          h2.programs__title.title.size-2 Программы обучения
          figure.programs__img-wrap 
            +img(`box`, `jpg`, ``, `programs__img`, `259`)
        .programs__tariffs.tariffs
          each val in tar
            a.tariffs__wrap(href=`#modal-pay-${val[2]}` rel="modal:open") 
              h3.tariffs__title= val[0]
              p.tariffs__prise.size-2= `${val[1]} ₽`
              p.tariffs__text денежный бонус за успешное прохождение программы
              .tariffs__link Выбрать тариф

      ul.programs__list 
        each val in arr
          li.programs__item.disciplines
            p.disciplines__text= val[0]
            - var n = 3;
            .disciplines__inner 
              while n > 0
                .disciplines__option
                  +svg(`disc-active`, `24`, (n > val[1] ?  `#E0E3EC` : `#7B57DF`))
                  - n--

      .programs__bottom
        .programs__tariffs.tariffs
          each val in tar
            a.tariffs__wrap(href=`#modal-pay-${val[2]}` rel="modal:open") 
              h3.tariffs__title= val[0]
              p.tariffs__prise.size-2= `${val[1]} ₽`
              p.tariffs__text денежный бонус за успешное прохождение программы
              .tariffs__link Выбрать тариф

  section.programs-phone.tablet-visibility#programs
    .programs-phone__inner.container 
      .programs-phone__top 
        h2.programs-phone__title.title.size-2 Программы обучения
        figure.programs-phone__img-wrap 
          +img(`box`, `jpg`, ``, `programs-phone__img`, `259`)

      .programs-phone__accordion.accordion#programs-phone-accordion
        ul.accordion__list  
          each val, i in tar
            li.accordion__item 
              a.accordion__link(href=`#prog-tab-${i}` data-type=`${i}`)
                span.accordion__name= val[0]
                //- span.accordion__price= val[1]

        each val, i in tar
          .accordion__cont(id=`prog-tab-${i}`)
            ul.accordion__sub-list 
              each val in arr
                li.accordion__sub-item.disc
                  p.disc__text= val[0]
                  +svg(`disc-active`, `24`, ((val[1] - (2- i)) > 0?  `#7B57DF` : `#E0E3EC`))

            a.accordion__choose-link(href=`#modal-pay-${val[2]}` rel="modal:open") Выбрать тариф


          





  section.comfortable
    .comfortable__inner.container
      .comfortable__content 
        h2.comfortable__title.title.size-2 Удобный личный кабинет

        ul.comfortable__list.container
          li.comfortable__item 
            p.comfortable__text.size-1 Обучайтесь онлайн из любой точки мира
          li.comfortable__item 
            p.comfortable__text.size-1 Обучайтесь с любого мобильного или десктоп стройства 
          li.comfortable__item 
            p.comfortable__text.size-1 Получайте вознагрождение за&nbsp;успешно пройденные курсы
      

        figure.comfortable__wrap-img 
          +img(`comfortable-bg`, `png`, ``, `comfortable__img`, `1440`)

  section.faq
    .faq__inner.container 
      .faq__col-left
        h2.faq__title.title.size-2 Частые вопросы, которые задают нам инвесторы
        p.faq__text.size-1 Задайте нам вопрос в чате поддрежки пользователей или по email
        p.faq__email Trust BTC@yandex.ru
        figure.faq__img-wrap 
          +img(`faq-bg`, `png`, ``, `faq__img`, `298`)
      .faq__col-right
        .faq__tabs#faq-tabs.faq-tabs 
          - var n = 0;
          ul.faq-tabs__list 
            while n < 7
              - n++
              li.faq-tabs__item
                a.faq-tabs__link.size-1(href=`#tab-${n}`) Что такое GH/s

          - n = 0;
          while n < 7
            - n++
            .faq-tabs__descript.size-1(id=`tab-${n}`) это сокращенное название единицы измерения мощности оборудования для майнинга (хэш/сек)

  each val in tar
    section.modal-pay.container.container--modal.modal(id=`modal-pay-${val[2]}`) 
      a.modal-pay__close-link.modal-link(href="#modal-pay" rel="modal:close" aria-label="закрыть")
      .modal-pay__inner 
        .modal-pay__col-left.pay 
          figure.pay__hand-left 
            +img(`left`, `png`, ``, `pay__hand-left-img`, `200`)
          figure.pay__hand-right
            +img(`right`, `png`, ``, `pay__hand-right-img`, `200`)
          
          h2.pay__title.title.size-2 Оплатите<br>программу обучения
          .pay__content.pay-content 
            .pay-content__title= `Программа: ${val[0]}`
            .pay-content__text За последний год инвесторы получили от капиталовложений в биткоин невероятные доходы – более 700%. Такую прибыльность до сих пор не показывала ни одна валюта. Крайне высокая волатильность в сочетании с большим потенциалом привлекают не только долгосрочных инвесторов, но и трейдеров, торгующих на краткосрочных таймфреймах. 
            .pay-content__moduls 
              .pay-content__moduls-block
                p.size-1 4 модуля
              .pay-content__moduls-exercise 
                p.size-1 12 занятий
            p.pay-content__price= `Стоимость: ${val[1]} ₽` 
            p.pay-content__bonus Денежный бонус за успешное прохождение программы 5000 ₽  

        .modal-pay__col-right 
          form.modal-pay__form.form.pay-form#pay-form(method="post" action="#" name="pay-form")
            fieldset.pay-form__field 
              legend.pay-form__legend Внимательно заполните ваши данные перед оплатой и мы пришлем доступ в личный кабинет вам на email
              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Ваше имя
                input.pay-form__input.not-req(type="text" name="my-name" placeholder="Иван")

              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Номер телефона*
                input.pay-form__input.input-phone(type="text" name="my-phone" placeholder="+7 (___) ___-__-__")

              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Ваш email*
                input.pay-form__input.input-mail(type="text" name="my-email" placeholder="example@mail.ru")

            button.pay-form__btn.btn(type="submit") Оплатить
            p.pay-form__consent нажимая на кнопку, вы подтвержаете согласие с <a class="pay-form__consent-link" href="/offer.html" target="_blank">договором оферты</a> и <a class="pay-form__consent-link" href="/politics.html" target="_blank">политикой конфиденциальности</a>

  section.modal-success.container.container--modal.modal#modal-success
    a.modal-success__close-link.modal-link(href="#modal-success" rel="modal:close" aria-label="закрыть")
    .modal-success__inner 
      figure.modal-success__img-wrap
        img.modal-success__img(src="/img/svg/success.svg", alt="Ваше обучение успешно  оплачено" width="60" height="60")
      h2.modal-success__title.title Ваше обучение <br>успешно  оплачено
      p.modal-success__text Войдите в личный кабинет, чтобы начать учиться
      a.modal-success__link.btn(href="") Войти 
      p.modal-success__note Отправили вам на email логин и пароль для доступа к личному кабинету
        


          
          

          
                

              


  
    