extends ../templates/_office.pug
include ../helpers/mixins.pug

block asside-active
  -const active = 2;

block content
  - const tar = [[`Старт`,`10 000`, `start`],[`Взлет`,`20 000`, `takeoff`],[`Премиум`,`30 000`, `premium`]];

  - const arr = [[`Простым языком о Биткойнах и майнинге`, 3], [`Основы блокчейна `, 3], [`Экономика  будущего`, 3], [`Оборудование для майнинга`, 3], [`Альткоины, их разновидности`, 2], [`Правовое регулирование криптовалют в РФ`, 2], [`Различные способы обмана в крипто индустрии и способы их избегать`, 2], [`Способы заработка на криптовалютах`, 1], [`Основы эффективного крипто инвестирвания`, 1], [`Обзор безопасных и надежных бирж`, 1], [`Анализ их возможностей`, 1]];

  -const coins = [[`Bitcoin`, `2000`],[`Cardano`, `1000`],[`Cardano`, `1000`],[`Cardano`, `1000`],[`Cardano`, `1000`]]
  section.programs.tablet-hidden#programs.office-programs
    .programs__inner.container
      .programs__top 
        .programs__head
          h2.programs__title.title.size-2 Программы обучения
          figure.programs__img-wrap 
            +img_simple(`box`, `png`, ``, `programs__img`, `259`)
        .programs__tariffs.tariffs
          each val in tar
            a.tariffs__wrap(href=`#modal-pay-${val[2]}` rel="modal:open") 
              h3.tariffs__title= val[0]
              p.tariffs__prise.size-2= `${val[1]}`
                span &nbsp;₽ 
              p.tariffs__text денежный бонус за успешное прохождение программы
              .tariffs__link Выбрать тариф

      ul.programs__list 
        each val in arr
          li.programs__item.disciplines
            p.disciplines__text= val[0]
            - var n = 3;
            .disciplines__inner 
              while n > 0
                .disciplines__option
                  +svg(`disc-active`, `24`, (n > val[1] ?  `#E0E3EC` : `#7B57DF`))
                  - n--

      .programs__bottom
        .programs__tariffs.tariffs
          each val in tar
            a.tariffs__wrap(href=`#modal-pay-${val[2]}` rel="modal:open") 
              h3.tariffs__title= val[0]
              p.tariffs__prise.size-2= `${val[1]} ₽`
              p.tariffs__text денежный бонус за успешное прохождение программы
              .tariffs__link Выбрать тариф

  section.programs-phone.tablet-visibility#programs.office-programs--tablet
    .programs-phone__inner.container 
      .programs-phone__top 
        h2.programs-phone__title.title.size-2 Программы<br> обучения
        figure.programs-phone__img-wrap 
          +img_simple(`box`, `png`, ``, `programs-phone__img`, `259`)

      .programs-phone__accordion.accordion#programs-phone-accordion
        ul.accordion__list  
          each val, i in tar
            li.accordion__item 
              a.accordion__link(href=`#prog-tab-${i}` data-type=`${i}`)
                span.accordion__name= val[0]
                //- span.accordion__price= val[1]

        each val, i in tar
          .accordion__cont(id=`prog-tab-${i}`)
            ul.accordion__sub-list 
              each val in arr
                li.accordion__sub-item.disc
                  p.disc__text= val[0]
                  +svg(`disc-active`, `24`, ((val[1] - (2- i)) > 0?  `#7B57DF` : `#E0E3EC`))

            //- a.accordion__choose-link(href=`#modal-pay-${val[2]}` rel="modal:open") Выбрать тариф
            .programs__tariffs.tariffs.tariffs--phone
              a.tariffs__wrap(href=`#modal-pay-${val[2]}` rel="modal:open") 
                h3.tariffs__title= val[0]
                p.tariffs__prise.size-2= `${val[1]}`
                  span &nbsp;₽ 
                p.tariffs__text денежный бонус за успешное прохождение программы
                .tariffs__link Выбрать тариф


  each val in tar
    section.modal-pay.container.container--modal.modal(id=`modal-pay-${val[2]}`) 
      a.modal-pay__close-link.modal-link(href="#modal-pay" rel="modal:close" aria-label="закрыть")
      .modal-pay__inner 
        .modal-pay__col-left.pay 
          figure.pay__hand-left 
            +img(`left`, `png`, ``, `pay__hand-left-img`, `200`)
          figure.pay__hand-right
            +img(`right`, `png`, ``, `pay__hand-right-img`, `200`)
          
          h2.pay__title.title.size-2 Оплатите<br>программу обучения
          .pay__content.pay-content 
            .pay-content__title= `Программа: ${val[0]}`
            .pay-content__text За последний год инвесторы получили от капиталовложений в биткоин невероятные доходы – более 700%. Такую прибыльность до сих пор не показывала ни одна валюта. Крайне высокая волатильность в сочетании с большим потенциалом привлекают не только долгосрочных инвесторов, но и трейдеров, торгующих на краткосрочных таймфреймах. 
            .pay-content__moduls 
              .pay-content__moduls-block
                p.size-1 4 модуля
              .pay-content__moduls-exercise 
                p.size-1 12 занятий
            p.pay-content__price= `Стоимость: ${val[1]} ₽` 
            p.pay-content__bonus Денежный бонус за успешное прохождение программы 5000 ₽  

        .modal-pay__col-right 
          form.modal-pay__form.form.pay-form#pay-form(method="post" action="#" name="pay-form")
            fieldset.pay-form__field 
              legend.pay-form__legend Внимательно заполните ваши данные перед оплатой и мы пришлем доступ в личный кабинет вам на email
              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Ваше имя
                input.pay-form__input.not-req(type="text" name="my-name" placeholder="Иван")

              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Номер телефона*
                input.pay-form__input.input-phone(type="text" name="my-phone" placeholder="+7 (___) ___-__-__")

              .pay-form__box
                label.pay-form__label 
                  span.pay-form__label-text Ваш email*
                input.pay-form__input.input-mail(type="text" name="my-email" placeholder="example@mail.ru")

            button.pay-form__btn.btn(type="submit") Оплатить
            p.pay-form__consent нажимая на кнопку, вы подтвержаете согласие с <a class="pay-form__consent-link" href="/offer.html" target="_blank">договором оферты</a> и <a class="pay-form__consent-link" href="/politics.html" target="_blank">политикой конфиденциальности</a>

  section.modal-success.container.container--modal.modal#modal-success
    a.modal-success__close-link.modal-link(href="#modal-success" rel="modal:close" aria-label="закрыть")
    .modal-success__inner 
      figure.modal-success__img-wrap
        img.modal-success__img(src="/img/svg/success.svg", alt="Ваше обучение успешно  оплачено" width="60" height="60")
      h2.modal-success__title.title Ваше обучение <br>успешно  оплачено
      p.modal-success__text Войдите в личный кабинет, чтобы начать учиться
      a.modal-success__link.btn(href="/exit.html") Войти 
      p.modal-success__note Отправили вам на email логин и пароль для доступа к личному кабинету
        
  